{% extends 'base.html' %}
    {% block content %}
<div style="font-weight: bold; color:#007252;">
    <h3>Past Chore List</h3>
    <h5> See chores that others have done (and how much they made!) </h5>
</div>

    {% for chore in chores %}
    <div class="card hoverable" 
            style=" width: 450px; 
                    display: inline-block; 
                    flex-wrap: wrap; 
                    border-radius: 20px;
                    color:#007252;
                    background-color: #E9E7F0;
                    margin: 10px;" >
        <a href="{% url 'chores_detail' chore.id %}" style="color: black;">
            <div class="card-content" style="color:#007252">
            <span class="card-title">{{ chore.name }}</span>
            <p>Date: {{ chore.date }}</p>
            <p>Description: {{ chore.description }}</p>

            <p>Pays: {{ chore.amount }} Dollars</p>
            </div>
        </a>
    </div>
    {% endfor %}

    {% endblock %}
