{% extends 'base.html' %}

{% block content %}
    {% if object %}
    <h1>Edit <span class="teal-text">{{object.name}}</span></h1>
    {% else %}
    <h1>Add NEW Chore for {{ kid.name }}</h1>
    {% endif %}


  <form action="{% url 'chores_create' %}" method="POST">
      <!-- Django requires the following for security purposes -->
      {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
      <br>
      <input type="submit" value="Submit for approval" class="btn">
  </form>


  <script>
      const dateEl = document.getElementById('id_date');
  // M is Materialize's global variable
      M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
      });

  </script>
{% endblock %}
