{% extends 'base.html' %}
    
{% block content %}


    <h1>About the Chore Tracker</h1>
        <hr>
        <p>Calling all Kids! Do you want to see how much money is in your piggy bank? <br> 
        Do you wish you knew what chores you could do to add money? <br>
        Do you want to tell your parents about other chores you have done lately? <br><br><br>
        The Chore Tracker does all of that! You can see how much money is in your piggy bank, see how you can earn more money, and watch your account grow! Message your parents to let them know you finished a chore. Send them a chore that you did and negotiate how much is was worth. <br><br>
        Come up with your own goals on how much you want to save! 

        </p>
    <footer>All Rights Reserved, JT, &copy; 2023 Chore Tracker</footer>
    
{% endblock %}