{% extends 'base.html' %}
    
{% block content %}


    <h1 style="color:#007252; font-weight: bolder;">About the Chore Tracker</h1>
        <hr>
        <p style="color:#007252; font-size: 24px;">Calling all Kids! Do you want to see how much money is in your piggy bank? <br> 
        Do you wish you knew what chores you could do to add money? <br>
        Do you want to tell your parents about other chores you have done lately? <br><br><br>
        The Chore Tracker does all of that! You can see how much money is in your piggy bank, see how you can earn more money, and watch your account grow!  <br><br>
        

        </p>
    <footer style="color:#007252">All Rights Reserved, JT, &copy; 2023 Chore Tracker</footer>
    
{% endblock %}