{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chore Tracker</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">

</head>
<body style="background-color: #FBADE8;">
  <header class="navbar-fixed" >
    <nav>
      <div class="nav-wrapper" style="background-color: #4C9FEF; ">
        <ul>
          <li><a href="/" class="left brand-logo" style="font-family: 'Schoolbell', cursive; font-weight: bolder;">&nbsp;&nbsp;Chore Tracker</a></li>
        </ul>
        <ul class="right" style="font-family: 'Schoolbell', cursive; font-weight: bolder;">
          <li><a href="{% url 'about' %}">About Chore Tracker</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'parents_create' %}">Add Parents</a></li>
          <li><a href="{% url 'parents_index' %}">See Parents</a></li>
          <!-- <li><a href="{% url 'kids_create' %}">Add Kids</a></li> -->
          <li><a href="{% url 'kids_index' %}">See Kids</a></li>
          <li><a href="{% url 'chores_create' %}">Add Chores</a></li>
          <li><a href="{% url 'chores_index' %}">See Chores</a></li>
          <li><a href="{% url 'logout' %}">Log Out</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
          {% endif %}
          
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer" style="background-color: #D67AB1;>
    <div class="right">All Rights Reserved, JT, &copy; 2023 Chore Tracker &nbsp;</div>
  </footer>
</body>
</html>
