{% extends 'base.html' %}
{% block content %}


<div class="row">
    <h5>{{ kid.name }} Details</h5>
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ kid.name }}</span>
                <p>Age: {{ kid.age }}</p>
                <p>Description: {{ kid.description }}</p>
                <p>Parent: {{ kid.parent }}</p>
        
            </div>
            <div class="card-action">
                <a href="{% url 'kids_update' kid.id %}">Edit</a>
                <a href="{% url 'kids_delete' kid.id %}">Delete</a>
            </div>
        </div>
        <div class="row">
            <a href="{% url 'chores_create' %}">
        
                <h2> Build a chore to do! </h2>
            </a>
        </div>
    </div>
    <div class="col s6 push-s1">
        <h5>Standard Chores</h5>
        <table class="striped">
            <thead>
              <tr><th>Chore</th><th>How much</th></tr>
            </thead>
            <tbody>
              
                <tr>
                  <td>Fold Laundry</td>
                  <td>3$</td>
                </tr>
                <tr>
                  <td>Clean Room</td>
                  <td>2$</td>
                </tr>
                <tr>
                  <td>Load Dishwasher</td>
                  <td>4$</td>
                </tr>
                <tr>
                  <td>Unload Dishwasher</td>
                  <td>4$</td>
                </tr>
                <tr>
                  <td>Read 30 minutes</td>
                  <td>5$</td>
                </tr>
             
            </tbody>
          </table>

    </div>
</div>
<hr>
<div class="row">
    <h3>{{ kid.name }}'s Chore history</h3>
  <div class="col s12">
    {% if kid.chores.count %}
      {% for chore in kid.chores.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ chore.date }} - {{ chore.name }} <br>
                    {{ chore.description }} - Earned {{ chore.amount }} dollars
                </span>
            </div>  
            <div class="input-field">
                <i class="material-icons prefix">chat</i>                  
                <input id="icon_chat" class="validate" placeholder="Placeholder"></input>
            </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Chores done </h5>
    {% endif %}
  </div>
</div>


{% endblock %}